[Unit]
Description=emacs
Documentation=info:emacs man:emacs(1) https://gnu.org/software/emacs/

[Service]
Type=notify
ExecStart=/usr/bin/emacs --fg-daemon
Restart=no

[Install]
WantedBy=default.target
