[Unit]
Description=i3lock
#Requires=xorg.target
Before=suspend.target

[Service]
Type=forking
RemainAfterExit=yes
ExecStart=/usr/bin/i3lock -d -c 000000

[Install]
WantedBy=suspend.target