[Unit]
Description=Xorg server launch helper
Before=xorg.target

[Service]
Type=notify
ExecStart=/usr/bin/xorg-launch-helper :0 -nolisten tcp -noreset vt1
